h1
{
    text-align: center;
    color: red;
}

body 
{
    font-family:monospace;
    color:maroon
}

head
{
   font-family: monospace;
    color:blue
    text-align: center;
}

p
{
    text-align: center;
    color: red;
}

button
{
    color:red
}


