h1
{
    text-align: center;
    color: red;
}

body 
{
    font-family:monospace;
    color:maroon
}

head
{
   font-family: monospace;
    color:blue
    text-align: center;
}

p
{
    text-align: center;
    color: red;
}

body
{
         background-image: 
        linear-gradient(rgba(250, 201, 184, 0.5), rgba(250, 220, 190, 0.5)),
        url("https://images.unsplash.com/photo-1654356138361-323a2ebc6890?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJtdyUyMDFtfGVufDB8fDB8fHww"/>; 
         background-position: center; 
         background-size: cover; 
}

button
{
    color:red
}
