h1
{
    text-align: center;
    color: red;
}

body 
{
    font-family:monospace;
    color:maroon
}

head
{
   font-family: monospace;
    color:blue
    text-align: center;
}

p
{
    text-align: center;
    color: red;
}

button
{
    color:red
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    background-image: url(mmm);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
}
